<article>
  <h3>{{ user.displayname if user else username }}</h3>

  <h4>{{ _("Roles in Groups") }}</h4>
  <ul>
    {% for g in member_of_groups %}
      <li>
        {{ g.name }}
        {% if g.coordination %}{{ _("(Coordination)") }}{% elif g.delegate %}{{ _("(Delegate)") }}{% endif %}
      </li>
    {% endfor %}
  </ul>

  <h4>{{ _("Pages mentioning User") }}</h4>
  <p>{{ _("Total Mentions: {count}").format(count=mention_pages | length) }}</p>
  <ul>
    {% for entry in mention_pages %}
      {% for line in entry.lines %}
        <li>
          <strong><a href="{{ entry.page.url }}" target="_blank">{{ entry.page.title }}</a></strong>: {{ line }}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</article>
